@media screen and (max-width:600px) {
    /* header Section */
    .container{
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .navber{
        margin: 19px 0 17px;
    }

    .logo h2{
        font-size: 20px;
        }

    .main-menu{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .banner{
        height: 100%;
        padding:32px 24px;
    }

    .banner-title{
        font-size: 22px;
        margin-bottom: 8px;
    }
    .banner-description{
        font-size: 14px;
        padding: 0 16px;
        margin-bottom: 32px;
    }

    .banner-form{
        flex-direction: column;
}
    .banner-form input, select, button{
        width: 100%;
}
/* Popular Tour Section */
.popular-tour{
    margin: 24px 0;
}

.popular-tour-wrapper{
    flex-direction: column;
    gap: 24px;
}

.popular-tour-content h2{
    font-size: 20px;
    margin-bottom: 16px;
}

.popular-tour-content p{
    margin-bottom: 16px;
}
.popular-tour-content li{
    margin-bottom: 12px;

}

.popular-tour-content button{
    width: 174px;
}

}